/*
* @Author: popcornXL
* @Date:   2018-02-27 21:17:21
* @Last Modified by:   popcornXL
* @Last Modified time: 2018-02-27 21:18:26
*/
/* 導航主體 */
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/* 右邊內容區 */
.content.with-nav{
    float: left;
    width: 950px;
}