/*
* @Author: popcornXL
* @Date:   2018-02-27 13:12:53
* @Last Modified by:   popcornXL
* @Last Modified time: 2018-02-27 13:41:34
*/
.nav{
    background: #eee;
    height:  30px;
    line-height: 30px;
}
/* 用戶部分 */
.nav .user{
    float: left;
}

.nav .user.login{
    display: none;
}
.nav .user .link{
    margin-right: 5px;
}

/* 導航連結部分 */
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}