<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.yahoo.com.tw" target="_blank">奇摩</a> |
            <a class="link" href="https://www.google.com.tw" target="_blank">Google</a> |
            <a class="link" href="https://github.com/popcornXL" target="_blank">github</a> |
            <a class="link" href="https://www.linkedin.com/in/chiakang-chen-806375133/" target="_blank">Linkedin</a>
        </div>
        <p class="copyright">
            Copyright © 2018 comemall.com All Right Reserved
        </p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>