<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">登錄</span>
                <span class="link js-register">註冊</span>
            </span>
            <span class="user login">
                <span class="link-text js-login">
                歡迎,
                <span class="username"></span>
                </span>
                <span class="link js-logout">登出</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="./cart.html" class="link">
                    <i class="fa fa-shopping-cart"></i>
                    購物車(<span class="cart-conf">0</span>)
                </a>
            </li>
            <li class="nav-item">
                <a href="./order-list.html" class="link">我的訂單</a>
            </li>

            <li class="nav-item">
                <a href="./order-list.html" class="link">我的COMEMALL</a>
            </li>

            <li class="nav-item">
                <a href="./order-list.html" class="link">關於COMEMALL</a>
            </li>
        </ul>

    </div>
</div>